/* =================
  Table of contents
  ==================

  1. Filter Projects
  2. Project Cards

*/

main.flex {
  column-gap: 0.5rem;
  row-gap: 1.5rem;
  align-items: start;
}

/* =================
   Filter Projects
  ================== */

main section.project-filter.flex {
  flex-direction: column;
  gap: 10px;
}

main section.project-filter.flex button {
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.7rem 0;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  transition: 0.3s;
}

.dark main section.project-filter.flex button {
  background-color: rgb(237, 238, 248);
}

main section.project-filter.flex button:hover {
  opacity: 1;
}

main section.project-filter.flex button.active {
  font-weight: bold;
  letter-spacing: 0.6px;
  opacity: 1;
  padding: 0.8rem 0;
  border: 1px solid var(--blue);
}

.light main section.project-filter.flex button.active {
  border: 1px solid #000;
}

/* =================
    Project Cards
  ================== */

main section.projects.flex {
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 2rem;
}

.card {
  border: 1px solid rgba(93, 188, 252, 0.3);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 0.3s;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.light card {
  border: none;
}

.card:hover {
  border: 2px solid var(--blue);
  rotate: 1deg;
  scale: 1;
}

.light .card:hover {
  background-color: rgb(246, 346, 246);
  border: none;
}

.card img {
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}

.card .box {
  padding: 1rem 0.4rem;
}

.card .box .title {
  color: var(--title);
  font-size: 1.2rem;
}

.card .box .subtitle {
  color: var(--sub-title);
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-bottom: 1.1rem;
}

.card .box .links {
  justify-content: space-between;
}

.card .box .links div.flex {
  gap: 11px;
}

.card .icon-github,
.card .icon-link {
  font-size: 1rem;
  color: var(--accent);
  cursor: pointer;
  transition: 0.3s;
}

.card .icon-github:hover,
.card .icon-link:hover {
  font-size: 1rem;
  color: var(--icon-hover);
}

.card a.link {
  font-size: 0.9rem;
  color: var(--blue);
}

.card a.link span {
  font-size: 0.8rem;
  margin-left: 4px;
}

@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    align-items: center;
  }
  main section.project-filter.flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  main section.project-filter.flex button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
}
/* ========================
    Detailed Project Cards
  ========================== */

.detailed {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 1rem;
}

.project-detail,
.project-img {
  flex: 1;
  height: auto;
}

.project-img img {
  border: 1px solid var(--accent);
  width: 550px;
  max-width: 100%;
  height: 400px;
}

.detailed:hover {
  border: 2px solid var(--blue);
  rotate: 0deg;
  scale: 1;
}
.project-detail .title {
  color: var(--title);
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-detail .sub-title {
  color: var(--sub-title);
  /* width: 90%; */
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

.project-detail.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.project-detail .flex {
  gap: 1.6rem;
}

.project-detail .btn-link {
  border: 1px solid var(--icon-hover);
  padding: 0.5rem 0.75rem;
  color: var(--title);
  border-radius: 5px;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  margin-bottom: 1rem;
  padding: .25rem .75rem;
  border-radius: 5px;
  font-size: .75rem;
  font-weight: bold;
}

.category.api {
  background-color: rgb(3, 174, 117);
}

.category.react {
  background-color: rgb(3, 88, 174);
}

.category.javascript {
  background-color: rgb(211, 236, 22);
}

.category.tailwind {
  background-color: rgb(192, 22, 144);
}

.project-detail .flex span {
  margin-right: 0.75rem;
}

@media (max-width: 769px) {
  .detailed {
    flex-direction: column;
  }

  .detailed img {
    height: 250px;
  }
}
