/* Add this CSS to your stylesheets */
section {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}
.about-me-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 3rem 1rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.profiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profiles .flex {
  justify-content: flex-start;
  gap: 0.5rem;
}

.profiles span {
  font-size: 2rem;
}

.profiles img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.about-me-container div.flex {
  gap: 2rem;
}

.about.flex {
  gap: 2rem;
}

.about.flex > img {
  width: 250px;
  border-radius: 5px;
  border: 2px solid var(--accent);
}

h2 {
  color: #333;
  text-align: center;
}

section {
  margin-bottom: 20px;
}

h3 {
  color: #007bff;
}

p {
  color: #555;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 1rem;
}

ul li img {
  max-width: 75px;
  /* padding: 2rem; */
  border: none;
}

section {
  color: var(--primary);
}

@media (max-width: 800px) {
  .about-me-container {
    padding: 15px;
  }

  .about.flex {
    flex-direction: column;
  }

  .about.flex img {
    width: 100%;
  }
}

.skill-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--accent);
  width: 100%;
}
